.body {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(-170deg, rgba(2,0,36,1) 0%, rgba(9,36,121,1) 50%, rgba(0,212,255,1) 100%);
}

.NavBar {
  background-color: slategray;
  height: 140px;
  padding: 10px;
  text-align: justify;
  border-radius: 20px;
  font-size: 1.5em;
  border: 2px solid #28afb0;
}

.pets-container {
  padding: 60px;
  text-align: center;
  height: 60%;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-items: center;
  align-self: center;
}

.pet-wrapper {
  height: 530px;
  width: 800px;
  background-color: #28afb0;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #28afb0;
}

a {
  color: rgb(214, 214, 214);
  text-decoration: none;
}

a:hover {
  color: #19647e;
}

h1 {
  color: #000b49;
}

h2 {
  color: #37392e;
}

h3 {
  color: #19647e ;
  text-align: center;
}

.button {
  background-color: lightslategrey;
  border: none;
  color: #37392e;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img {
  float: center;
  width:  100px;
  height: 100px;
  object-fit: cover;
  padding: 1em;
}

input {
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin: 8px;
}

.btn-toggle {
  width: 180px;
  height: 60px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #000b49;
  color: #f1f1f1;
}

.pets {
  width: 200px;
  position: relative;
  display: inline-block;
 
}

.pet {
  width: 200px;
  position: relative;
  display: inline-block;
  background-color: slategray;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid navy; 
}