.body {
  height: 100%;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(-170deg, rgba(2,0,36,1) 0%, rgba(9,36,121,1) 50%, rgba(0,212,255,1) 100%);
}

.NavBar {
  height: 80px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
  border: 2px solid #28afb0;
  background-color: slategray;
}

.header {
  font: -webkit-small-control;
}

.pet-wrapper {
  height: 400px;
  width: 600px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid #28afb0;
  background-color: #28afb0;
}

.pets {
  width: 200px;
  display: inline-block;
}

.pet {
  width: 300px;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid navy; 
  background-color: slategray;
}

.pet-form {
  width: 500px;
  display: inline-block;
}

a {
  color: rgb(214, 214, 214);
  text-decoration: none;
}

a:hover {
  color: #19647e;
}

h1 {
  color: #000b49;
}

h2 {
  color: #37392e;
}

h3 {
  color: #19647e ;
}

.button {
  background-color: lightslategrey;
  border: none;
  color: #37392e;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img {
  width:  50px;
  height: 50px;
  padding: 1em;
}

.icon {
  width: 30px;
  height: 30px;
  float: right;
}

.icon:hover {
  color: red;
}

input {
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin: 8px;
}

.btn-toggle {
  width: 180px;
  height: 60px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #000b49;
  color: #f1f1f1;
}
